<% if (success && success.length) { %>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
      <div id="updateToast" class="toast align-items-center text-white bg-success border-0 show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            <%=success%>
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <% } %>
    <% if(error && error.length) {%>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
    <div id="dangerToast" class="toast align-items-center bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body text-white">
            <%=error%>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  <% } %>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const toastEl = document.getElementById('updateToast');
      if (toastEl) {
        const toast = new bootstrap.Toast(toastEl, { delay: 4000 }); // 3 seconds
        toast.show();
      }
    });
    window.addEventListener('DOMContentLoaded', () => {
      const toastEl = document.getElementById('dangerToast');
      if (toastEl) {
        const toast = new bootstrap.Toast(toastEl, { delay: 4000 }); // 4 seconds
        toast.show();
      }
    });
  </script>