<div
	id="updatingOverlay"
	style="
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		z-index: 9999;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 2rem;
	"
>
	<div class="text-center text-white">
		<div class="spinner-border text-success" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
		<p class="mt-2" id="overlayCon">Updating campground, please wait...</p>
	</div>
</div>
